canvas {
	margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    touch-action: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.textbox-size-small {
    width: 12px;
}

.textbox-size-medium {
    width: 24px;
}

.textbox-size-large {
    width: 64px;
}

.background-color {
	background-color: #6495ED;
}

.background-color-black {
	background-color: #000000;
}

.title-text {
	font-size: 24px;
	text-align: center;
	border-width: 5px;
	border-style: inset;
	margin-top: 10px;
	background-color: #c9dcff ;
}

.instruction-box {
	border-style: ridge;
	border-width: 8px;
	margin-top: -5px;
	background-color: #c9dcff ;
}

.centered-text {
	text-align: center;
}

.top-instruction {
	margin-top: 10px;
	margin-bottom: 8px;
}

.instruction-text {
	padding-left: 10px;
	margin-top: 5px;
}

.network-data {
	text-align: center;
}

.background-color-secondary {
	border-style: solid;
	border-width: 5px;
	background-color: #e5efff;
}